.about {
	padding: 100px 0px 130px 0px;
	background-color: #fff;
	&__container {
	}

	&__header {
		margin-bottom: 100px;
	}

	&__body {
		display: flex;
	}

	&__video {
		flex: 0 0 56%;
		position: relative;
		padding: 0px 0px 42.25px 0px;
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	&__content {
		flex: 1 1 auto;
		margin-left: 121px;
		margin-top: 20px;
	}

	&__title {
		font-weight: bold;
		font-size: 40px;
		line-height: 142%;
		letter-spacing: 0.2px;
	}
	&__title:not(:last-child) {
		margin-bottom: 10px;
	}

	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 142%;
		letter-spacing: 0.2px;
	}

	&__items {
		margin-top: 50px;
	}

	&__item {
	}
}

.item-about {
	display: flex;
	&:not(:last-child) {
		margin-bottom: 30px;
	}
	&__icon {
		flex: 0 0 32px;
	}

	&__body {
		flex: 1 1 auto;
		padding: 0px 0px 0px 20px;
		align-items: flex-start;
	}

	&__title {
		font-weight: bold;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0.1px;
	}

	&__title:not(:last-child) {
		margin-bottom: 5px;
	}

	&__text {
		font-weight: 600;
		font-size: 14px;
		line-height: 171%;
		letter-spacing: 0.2px;
	}
}

@media (max-width: 1080px) {
	.about {
		&__content {
			margin-left: 50px;
		}
	}
}
@media (max-width: 950px) {
	.about {
		padding: 50px 0px 50px 0px;
		&__body {
			flex-direction: column-reverse;
			align-items: stretch;
		}
		&__content:not(:last-child) {
			margin: 0px 0px 50px 0px;
		}
		&__header {
			margin-bottom: 30px;
		}

		&__title {
			font-size: 20px;
		}
		&__content {
			margin-left: 0px;
		}
		&__video {
			padding: 0px 0px 56.25% 0px;
		}
		&__video:not(:last-child) {
			margin: 50px 0px 0px 0px;
		}
	}
}
@media (max-width: 767px) {
	.about {
		padding: 20px 0px 20px 0px;
	}
	&__video:not(:last-child) {
		margin: 30px 0px 0px 0px;
	}
}
