.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;

	&__container {
		display: flex;
		min-height: 104px;
		align-items: center;
	}
	&__logo {
		font-weight: 700;
		font-size: 24px;
	}

	&__menu {
		margin-left: 133px;
		padding: 5px 0px;
	}

	.menu {
		&__list {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		&__ilem {
		}
		&__ilem:not(:last-child) {
			margin: 0px 21px 0px 0px;
		}
		&__link {
			font-weight: 600;
			color: var(--second-text-color);
			line-height: calc(24 / 14 * 100%);
			&:hover {
				text-decoration: underline;
			}
		}
	}

	@media (max-width: 992px) {
		.header {
			&__menu {
				margin: 0px 0px 0px 80px;
			}
		}
	}

	@media (max-width: 767px) {
		.header {
			&__menu {
				margin: 0px 0px 0px 40px;
				&__link {
					color: var(--second-text-color-dark);
				}
			}
		}
	}
	@media (max-width: 479px) {
		.heade {
			&__container {
				min-height: 70px;
			}
		}
		.menu {
			&__link {
				font-size: 18px;
			}
		}
	}
}
