.page {
	&__subscribe {
	}
}
.subscribe {
	position: relative;
	padding-bottom: 20px;
	&::before {
		content: "";
		background-color: #252b42;
		position: absolute;
		height: 77px;
		width: 100%;
		left: 0;
		bottom: 0;
	}

	&__body {
		position: relative;
		z-index: 5;
		padding: 30px 50px;
		background-color: var(--dark-blue);
		border-radius: 2px;
	}

	&__title {
		max-width: 266px;
		font-weight: bold;
		font-size: 24px;
		line-height: 133%;
		letter-spacing: 0.1px;
		color: var(--light-text-color);
	}

	&__form {
		flex: 0 1 50%;
		display: flex;
		align-items: center;
	}

	&__input {
		flex: 1 1 auto;
		line-height: 200%;
		letter-spacing: 0.2px;
		padding: 16px 20px;
		border-right: 0;
	}

	&__button {
		background-color: var(--primary-color);
		border: 1px solid #e6e6e6;
		border-radius: 0px 5px 5px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		padding: 0px 22px;
		min-height: 58px;
	}
}
@media (min-width: 1070px) {
	.subscribe {
		&__body {
			margin: 0px 30px;
		}
	}
}
@media (min-width: 810px) {
	.subscribe {
		&__body {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}
@media (max-width: 810px) {
	.subscribe {
		&__title {
			margin-bottom: 20px;
		}
		&__body {
			margin: 0px -15px;
			padding: 20px 25px;
		}
		&__input {
			width: 100%;
		}
		&__button {
			padding: 0px 15px;
		}
		&__input {
			padding: 16px 15px;
		}
	}
}
