:root {
	--font: "Montserrat", sans-serif;
	--primary-color: #ff7b47;
	--secondary-color-1: #0d5c63;
	--text-color: #252b42;
	--second-text-color: #737373;
	--second-text-color-dark: #313131;
	--light-text-color: #ffffff;
	--ligth-back: #fafafa;
}
